src/flows/Cierre_Siniestros_NN_y_SegurCaixa-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Cierre_Siniestro_SegurCaixa</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>EMAIL SEGURCAIXA CIERRE</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Cierre_Siniestro_SegurCaixa</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Cierre_Siniestro_NN</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>EMAIL NN CIERRE</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Cierre_Siniestro_NN</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>CIERRE SINIESTRO SEGURCAIXA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>CIERRE SINIESTRO NN</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Envío de correos de cierre cuando se cierra un siniestro de NN y SegurCaixa</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT([Case].Status) == $Label.CAS_ESTADO_CERRADO &amp;&amp; !ISBLANK([Case].CAS_LKP_Compania__c) &amp;&amp; [Case].CAS_LKP_Compania__r.CUE_TXT_Identificador__c == &apos;1018&apos; &amp;&amp;
!ISBLANK([Case].CAS_EMA_Email__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!myVariable_current.Status}) == $Label.CAS_ESTADO_CERRADO &amp;&amp; !ISBLANK({!myVariable_current.CAS_LKP_Compania__c}) &amp;&amp; {!myVariable_current.CAS_LKP_Compania__r.CUE_TXT_Identificador__c} == &apos;1018&apos; &amp;&amp;
!ISBLANK({!myVariable_current.CAS_EMA_Email__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT([Case].Status) == $Label.CAS_ESTADO_CERRADO &amp;&amp; !ISBLANK([Case].CAS_LKP_Compania__c) &amp;&amp; [Case].CAS_LKP_Compania__r.CUE_TXT_Identificador__c == &apos;1018&apos; &amp;&amp;
!ISBLANK([Case].CAS_EMA_Email__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!myVariable_old.Status}) == $Label.CAS_ESTADO_CERRADO &amp;&amp; !ISBLANK({!myVariable_old.CAS_LKP_Compania__c}) &amp;&amp; {!myVariable_old.CAS_LKP_Compania__r.CUE_TXT_Identificador__c} == &apos;1018&apos; &amp;&amp;
!ISBLANK({!myVariable_old.CAS_EMA_Email__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT([Case].Status) == $Label.CAS_ESTADO_CERRADO &amp;&amp; !ISBLANK([Case].CAS_LKP_Compania__c) &amp;&amp; [Case].CAS_LKP_Compania__r.CUE_TXT_Identificador__c == &apos;1040&apos; &amp;&amp;
!ISBLANK([Case].CAS_EMA_Email__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!myVariable_current.Status}) == $Label.CAS_ESTADO_CERRADO &amp;&amp; !ISBLANK({!myVariable_current.CAS_LKP_Compania__c}) &amp;&amp; {!myVariable_current.CAS_LKP_Compania__r.CUE_TXT_Identificador__c} == &apos;1040&apos; &amp;&amp;
!ISBLANK({!myVariable_current.CAS_EMA_Email__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT([Case].Status) == $Label.CAS_ESTADO_CERRADO &amp;&amp; !ISBLANK([Case].CAS_LKP_Compania__c) &amp;&amp; [Case].CAS_LKP_Compania__r.CUE_TXT_Identificador__c == &apos;1040&apos; &amp;&amp;
!ISBLANK([Case].CAS_EMA_Email__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!myVariable_old.Status}) == $Label.CAS_ESTADO_CERRADO &amp;&amp; !ISBLANK({!myVariable_old.CAS_LKP_Compania__c}) &amp;&amp; {!myVariable_old.CAS_LKP_Compania__r.CUE_TXT_Identificador__c} == &apos;1040&apos; &amp;&amp;
!ISBLANK({!myVariable_old.CAS_EMA_Email__c})</expression>
    </formulas>
    <interviewLabel>Cierre_Siniestros_NN_y_SegurCaixa-5_InterviewLabel</interviewLabel>
    <label>Cierre Siniestros NN y SegurCaixa</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
