src/flows/Flujo_argumentario_B2C-46.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ofrecerasistencia</name>
        <choiceText>Ofrecer asistencia</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>SASS</name>
        <choiceText>SASS</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Si</name>
        <choiceText>Si</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Transferir_llamada</name>
        <choiceText>Transferir llamada</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>Motivo1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No conforme con rechazo</stringValue>
        </value>
    </constants>
    <constants>
        <name>Motivo2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Se lo piensa</stringValue>
        </value>
    </constants>
    <constants>
        <name>Motivo3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Otros</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ClienteExiste</name>
        <label>ClienteExiste</label>
        <locationX>272</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference>ReparableD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SI</defaultConnectorLabel>
        <rules>
            <name>ClienteNOExiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdCuentaFlujo</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>IdSiniestroFlujo</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Datos_del_Cliente</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisinB2C_O_SiniestroO_0</name>
        <label>DecisiónB2C_O_SiniestroO</label>
        <locationX>1908</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>CasoUrgenteTransferimosSini</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CON Id de Siniestro</defaultConnectorLabel>
        <rules>
            <name>DecisionSiReparableA_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdSiniestroFlujo</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Si_No_Poliza</targetReference>
            </connector>
            <label>SIN Id de Siniestro</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionAyudas</name>
        <label>DecisiónAyudas</label>
        <locationX>1736</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>SiniestroRechazadoActualizado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ofrecemos tras ayuda</defaultConnectorLabel>
        <rules>
            <name>DecisionAyudasA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MR_Ayuda1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MR_Ayuda2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueHacemos</targetReference>
            </connector>
            <label>Si ofrecemos tras ayuda</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionMotivo1</name>
        <label>DecisionMotivo1</label>
        <locationX>1353</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>DecisionMotivo2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO Motivo 1</defaultConnectorLabel>
        <rules>
            <name>DecisionMotivo1A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MotivoRechazoB2C</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Motivo1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ayuda1</targetReference>
            </connector>
            <label>DecisionMotivo1A</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionMotivo2</name>
        <label>DecisionMotivo2</label>
        <locationX>1353</locationX>
        <locationY>631</locationY>
        <defaultConnector>
            <targetReference>DecisionMotivo3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO Motivo 2</defaultConnectorLabel>
        <rules>
            <name>DecisionMotivo2A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MotivoRechazoB2C</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Motivo2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ayuda2</targetReference>
            </connector>
            <label>DecisionMotivo2A</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionMotivo3</name>
        <label>DecisionMotivo3</label>
        <locationX>1352</locationX>
        <locationY>757</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>DecisionMotivo3A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MotivoRechazoB2C</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Motivo3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ayuda3</targetReference>
            </connector>
            <label>DecisionMotivo3A</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionNoReparable</name>
        <label>DecisiónNoReparable</label>
        <locationX>1350</locationX>
        <locationY>846</locationY>
        <defaultConnector>
            <targetReference>SiniestroNoReparableActualizado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Siniestro Rechazado</defaultConnectorLabel>
        <rules>
            <name>DecisionNoReparableA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdSiniestroFlujo</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Si_No_Poliza_1_1</targetReference>
            </connector>
            <label>Solicitud B2C</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionSiReparable</name>
        <label>DecisiónSiReparable</label>
        <locationX>707</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>OfrecemosP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CON Id Siniestro</defaultConnectorLabel>
        <rules>
            <name>DecisionSiReparableA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdSiniestroFlujo</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>QueHacemos</targetReference>
            </connector>
            <label>SIN Id de Siniestro</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExisteCuenta</name>
        <label>ExisteCuenta</label>
        <locationX>681</locationX>
        <locationY>152</locationY>
        <defaultConnector>
            <targetReference>DecisionSiReparable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SIExisteCuenta</defaultConnectorLabel>
        <rules>
            <name>NoExisteCuenta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdCuentaFlujo</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CasoUrgenteTransferimosSinPoliza</targetReference>
            </connector>
            <label>NoExisteCuenta</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExisteCuenta_0</name>
        <label>ExisteCuenta</label>
        <locationX>2568</locationX>
        <locationY>275</locationY>
        <defaultConnector>
            <targetReference>ComentarioCaso_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SIExisteCuenta</defaultConnectorLabel>
        <rules>
            <name>NoExisteCuenta_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdCuentaFlujo</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Finalizar</targetReference>
            </connector>
            <label>NoExisteCuenta</label>
        </rules>
    </decisions>
    <decisions>
        <name>OfrecemosD</name>
        <label>Ofrecemos</label>
        <locationX>1016</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>MotivoRechazo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>OfrecemosD_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OfrecerSolucion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueHacemos</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReparableD</name>
        <label>Reparable</label>
        <locationX>554</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>MotivoNoReparable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>ReparableD_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EsReparable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExisteCuenta</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_No_Poliza</name>
        <label>Si_No Póliza</label>
        <locationX>2173</locationX>
        <locationY>320</locationY>
        <defaultConnector>
            <targetReference>CasoUrgenteTransferimosSinPoliza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SIN Póliza</defaultConnectorLabel>
        <rules>
            <name>Con_P_liza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdPolizaFlujo</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CasoUrgenteTransferimosConPoliza</targetReference>
            </connector>
            <label>Con Póliza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_No_Poliza_1_1</name>
        <label>Si_No Póliza</label>
        <locationX>2043</locationX>
        <locationY>794</locationY>
        <defaultConnector>
            <targetReference>CasoNoReparableSinPoliza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SIN Póliza</defaultConnectorLabel>
        <rules>
            <name>Con_P_liza_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdPolizaFlujo</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CasoNoReparableConPoliza</targetReference>
            </connector>
            <label>Con Póliza</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Motivo_NoReparable</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CAS_SEL_Motivo_no_reparable__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MotivoRechazoB2C</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CAS_SEL_Motivo_Rechazo_B2C__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Flujo argumentario B2C {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo argumentario B2C v2</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CasoNoReparableConPoliza</name>
        <label>CasoNoReparableConPoliza</label>
        <locationX>2700</locationX>
        <locationY>731</locationY>
        <assignRecordIdToReference>IdCasoNoReparableConPoliza</assignRecordIdToReference>
        <connector>
            <targetReference>ComentarioCaso_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdCuentaFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_LKP_Compania__c</field>
            <value>
                <elementReference>IdCIAFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_LKP_PolizaContrato__c</field>
            <value>
                <elementReference>IdPolizaFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_SEL_DirRiesgo_Estado_Provincia__c</field>
            <value>
                <elementReference>var_provincia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_SEL_Motivo_no_reparable__c</field>
            <value>
                <elementReference>MotivoNo_Reparable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_DirRiesgo_CP__c</field>
            <value>
                <elementReference>var_cp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_DirRiesgo_Poblacion__c</field>
            <value>
                <elementReference>var_poblacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_Direccion__c</field>
            <value>
                <elementReference>var_via</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>IdRecordTypeSolB2C</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>010</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CasoNoReparableSinPoliza</name>
        <label>CasoNoReparableSinPoliza</label>
        <locationX>2700</locationX>
        <locationY>809</locationY>
        <assignRecordIdToReference>IdCasoNoReparableSinPoliza</assignRecordIdToReference>
        <connector>
            <targetReference>ComentarioCaso_0_0_0_1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdCuentaFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_EMA_Solicitud_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_SEL_DirRiesgo_Estado_Provincia__c</field>
            <value>
                <elementReference>var_provincia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_SEL_Motivo_no_reparable__c</field>
            <value>
                <elementReference>MotivoNo_Reparable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TFN_Solicitud_Telefono__c</field>
            <value>
                <elementReference>Telefono</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_Apellidos__c</field>
            <value>
                <elementReference>Apellidos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_Codigo_Postal__c</field>
            <value>
                <elementReference>Codigo_Postal_TXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_DirRiesgo_CP__c</field>
            <value>
                <elementReference>var_cp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_DirRiesgo_Poblacion__c</field>
            <value>
                <elementReference>var_poblacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_Direccion__c</field>
            <value>
                <elementReference>var_via</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_Nombre__c</field>
            <value>
                <elementReference>Nombre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>IdRecordTypeSolB2C</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>010</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CasoUrgenteTransferimosConPoliza</name>
        <label>CasoUrgenteTransferimosConPoliza</label>
        <locationX>2421</locationX>
        <locationY>357</locationY>
        <assignRecordIdToReference>IdCasoUrgenteTransferimosConPoliza</assignRecordIdToReference>
        <connector>
            <targetReference>ComentarioCaso_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdCuentaFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_LKP_Compania__c</field>
            <value>
                <elementReference>IdCIAFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_LKP_PolizaContrato__c</field>
            <value>
                <elementReference>IdPolizaFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_SEL_DirRiesgo_Estado_Provincia__c</field>
            <value>
                <elementReference>var_provincia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_DirRiesgo_CP__c</field>
            <value>
                <elementReference>var_cp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_DirRiesgo_Poblacion__c</field>
            <value>
                <elementReference>var_poblacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_Direccion__c</field>
            <value>
                <elementReference>var_via</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>IdRecordTypeSolB2C</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CasoUrgenteTransferimosSini</name>
        <label>CasoUrgenteTransferimosSini</label>
        <locationX>2423</locationX>
        <locationY>480</locationY>
        <assignRecordIdToReference>IdCasoUrgenteTransferimosSini</assignRecordIdToReference>
        <connector>
            <targetReference>ComentarioCaso_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdCuentaFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_LKP_Compania__c</field>
            <value>
                <elementReference>IdCIAFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_LKP_PolizaContrato__c</field>
            <value>
                <elementReference>IdPolizaFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_SEL_DirRiesgo_Estado_Provincia__c</field>
            <value>
                <elementReference>var_provincia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_DirRiesgo_CP__c</field>
            <value>
                <elementReference>var_cp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_DirRiesgo_Poblacion__c</field>
            <value>
                <elementReference>var_poblacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_Direccion__c</field>
            <value>
                <elementReference>var_via</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IdSiniestroFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>IdRecordTypeSolB2C</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CasoUrgenteTransferimosSinPoliza</name>
        <label>CasoUrgenteTransferimosSinPoliza</label>
        <locationX>2424</locationX>
        <locationY>268</locationY>
        <assignRecordIdToReference>IdCasoUrgenteTransferimosSinPoliza</assignRecordIdToReference>
        <connector>
            <targetReference>ExisteCuenta_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>IdCuentaFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_EMA_Solicitud_Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_SEL_DirRiesgo_Estado_Provincia__c</field>
            <value>
                <elementReference>var_provincia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TFN_Solicitud_Telefono__c</field>
            <value>
                <elementReference>Telefono</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_Apellidos__c</field>
            <value>
                <elementReference>Apellidos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_Codigo_Postal__c</field>
            <value>
                <elementReference>Codigo_Postal_TXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_DirRiesgo_CP__c</field>
            <value>
                <elementReference>var_cp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_DirRiesgo_Poblacion__c</field>
            <value>
                <elementReference>var_poblacion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_Direccion__c</field>
            <value>
                <elementReference>var_via</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAS_TXT_Nombre__c</field>
            <value>
                <elementReference>Nombre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>IdRecordTypeSolB2C</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>ComentarioCaso_0_0</name>
        <label>ComentarioCaso</label>
        <locationX>2570</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>Finalizar</targetReference>
        </connector>
        <inputAssignments>
            <field>CMC_LKP_Caso__c</field>
            <value>
                <elementReference>IdCasoUrgenteTransferimosConPoliza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMC_TXT_Comentario__c</field>
            <value>
                <elementReference>ComentarioReparable</elementReference>
            </value>
        </inputAssignments>
        <object>Comentario_caso__c</object>
    </recordCreates>
    <recordCreates>
        <name>ComentarioCaso_0_0_0</name>
        <label>ComentarioCaso</label>
        <locationX>2846</locationX>
        <locationY>732</locationY>
        <connector>
            <targetReference>Finalizar</targetReference>
        </connector>
        <inputAssignments>
            <field>CMC_LKP_Caso__c</field>
            <value>
                <elementReference>IdCasoNoReparableConPoliza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMC_TXT_Comentario__c</field>
            <value>
                <elementReference>Comentario_No_Reparable</elementReference>
            </value>
        </inputAssignments>
        <object>Comentario_caso__c</object>
    </recordCreates>
    <recordCreates>
        <name>ComentarioCaso_0_0_0_0</name>
        <label>ComentarioCaso</label>
        <locationX>2847</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Finalizar</targetReference>
        </connector>
        <inputAssignments>
            <field>CMC_LKP_Caso__c</field>
            <value>
                <elementReference>IdSiniestroFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMC_TXT_Comentario__c</field>
            <value>
                <elementReference>Comentario_Motiv_Rechazo</elementReference>
            </value>
        </inputAssignments>
        <object>Comentario_caso__c</object>
    </recordCreates>
    <recordCreates>
        <name>ComentarioCaso_0_0_0_0_0</name>
        <label>ComentarioCaso</label>
        <locationX>2577</locationX>
        <locationY>484</locationY>
        <connector>
            <targetReference>Finalizar</targetReference>
        </connector>
        <inputAssignments>
            <field>CMC_LKP_Caso__c</field>
            <value>
                <elementReference>IdCasoUrgenteTransferimosSini</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMC_TXT_Comentario__c</field>
            <value>
                <elementReference>ComentarioReparable</elementReference>
            </value>
        </inputAssignments>
        <object>Comentario_caso__c</object>
    </recordCreates>
    <recordCreates>
        <name>ComentarioCaso_0_0_0_0_0_0</name>
        <label>ComentarioCaso</label>
        <locationX>2816</locationX>
        <locationY>279</locationY>
        <connector>
            <targetReference>Finalizar</targetReference>
        </connector>
        <inputAssignments>
            <field>CMC_LKP_Caso__c</field>
            <value>
                <elementReference>IdCasoUrgenteTransferimosSinPoliza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMC_TXT_Comentario__c</field>
            <value>
                <elementReference>ComentarioReparable</elementReference>
            </value>
        </inputAssignments>
        <object>Comentario_caso__c</object>
    </recordCreates>
    <recordCreates>
        <name>ComentarioCaso_0_0_0_1</name>
        <label>ComentarioCaso</label>
        <locationX>2847</locationX>
        <locationY>813</locationY>
        <connector>
            <targetReference>Finalizar</targetReference>
        </connector>
        <inputAssignments>
            <field>CMC_LKP_Caso__c</field>
            <value>
                <elementReference>IdCasoNoReparableSinPoliza</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMC_TXT_Comentario__c</field>
            <value>
                <elementReference>Comentario_No_Reparable</elementReference>
            </value>
        </inputAssignments>
        <object>Comentario_caso__c</object>
    </recordCreates>
    <recordCreates>
        <name>ComentarioCaso_0_0_0_1_1</name>
        <label>ComentarioCaso</label>
        <locationX>2852</locationX>
        <locationY>896</locationY>
        <connector>
            <targetReference>Finalizar</targetReference>
        </connector>
        <inputAssignments>
            <field>CMC_LKP_Caso__c</field>
            <value>
                <elementReference>IdSiniestroFlujo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMC_TXT_Comentario__c</field>
            <value>
                <elementReference>Comentario_No_Reparable</elementReference>
            </value>
        </inputAssignments>
        <object>Comentario_caso__c</object>
    </recordCreates>
    <recordUpdates>
        <name>SiniestroNoReparableActualizado</name>
        <label>SiniestroNoReparableActualizado</label>
        <locationX>2701</locationX>
        <locationY>894</locationY>
        <connector>
            <targetReference>ComentarioCaso_0_0_0_1_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdSiniestroFlujo</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CAS_SEL_Motivo_no_reparable__c</field>
            <value>
                <elementReference>MotivoNo_Reparable</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>SiniestroRechazadoActualizado</name>
        <label>SiniestroRechazadoActualizado</label>
        <locationX>2699</locationX>
        <locationY>620</locationY>
        <connector>
            <targetReference>ComentarioCaso_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdSiniestroFlujo</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CAS_SEL_Motivo_Rechazo_B2C__c</field>
            <value>
                <elementReference>Motivo_de_rechazo</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Ayuda1</name>
        <label>Ayuda1</label>
        <locationX>1610</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionAyudas</targetReference>
        </connector>
        <fields>
            <name>Txt1</name>
            <fieldText>Texto para motivo rechazo 1</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MR_Ayuda1</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿El cliente quiere que le ofrezcamos una solución?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Ayuda2</name>
        <label>Ayuda2</label>
        <locationX>1607</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionAyudas</targetReference>
        </connector>
        <fields>
            <name>Txt2</name>
            <fieldText>Texto para motivo rechazo 2</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MR_Ayuda2</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿El cliente quiere que le ofrezcamos una solución?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Ayuda3</name>
        <label>Ayuda3</label>
        <locationX>1614</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionAyudas</targetReference>
        </connector>
        <fields>
            <name>Txt3_0</name>
            <fieldText>Texto para motivo rechazo 3</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MR_Ayuda3</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿El cliente quiere que le ofrezcamos una solución?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Datos_del_Cliente</name>
        <label>Datos del Cliente</label>
        <locationX>404</locationX>
        <locationY>727</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ReparableD</targetReference>
        </connector>
        <fields>
            <name>DatosCliente</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Datos del cliente&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nombre</name>
            <dataType>String</dataType>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Apellidos</name>
            <dataType>String</dataType>
            <fieldText>Apellidos</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Telefono</name>
            <dataType>Number</dataType>
            <fieldText>Teléfono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Codigo_Postal_TXT</name>
            <dataType>String</dataType>
            <fieldText>Código Postal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Finalizar</name>
        <label>Finalizar</label>
        <locationX>3088</locationX>
        <locationY>623</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextoFinalizar</name>
            <fieldText>El argumentario ha terminado. 

Para continuar e ir al detallle del caso pulse el botón finalizar.

Gracias.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>MotivoNoReparable</name>
        <label>MotivoNoReparable</label>
        <locationX>712</locationX>
        <locationY>846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionNoReparable</targetReference>
        </connector>
        <fields>
            <name>NombreCuenta1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;     &lt;B&gt;{!var_NombreCuenta} &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Nombre} {!Apellidos} &lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;         &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!var_CIA}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;     &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MotivoNo_Reparable</name>
            <choiceReferences>Motivo_NoReparable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo no reparable</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ComentariosNoRepar</name>
            <fieldText>Comentarios</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>El comentario debe ser mayor que 14 caracteres.</errorMessage>
                <formulaExpression>(LEN(ComentariosNoRepar) &gt; 14)</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>MotivoRechazo</name>
        <label>MotivoRechazo</label>
        <locationX>1197</locationX>
        <locationY>570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionMotivo1</targetReference>
        </connector>
        <fields>
            <name>Nombrecuenta2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;     {!var_NombreCuenta}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;       &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!var_CIA}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Motivo_de_rechazo</name>
            <choiceReferences>MotivoRechazoB2C</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo de rechazo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ComentarioMotRechz</name>
            <fieldText>Comentarios</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>El comentario debe ser mayor que 14 caracteres.</errorMessage>
                <formulaExpression>LEN(ComentarioMotRechz) &gt; 14</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>OfrecemosP</name>
        <label>Ofrecemos</label>
        <locationX>861</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OfrecemosD</targetReference>
        </connector>
        <fields>
            <name>Argumentario</name>
            <fieldText>Ante esta situación Sr/Sra &quot;{!var_NombreCuenta}&quot;, &quot;{!var_CIA}&quot; Siniestros les ofrece un servicio de asistencia, con las siguientes ventajas:

- Acceso a un profesional cualificado.
- Con precios preferentes.
- Desplazamiento gratuito.
- Sin ningún tipo de compromiso.
- Garantía de 6 meses sobre la reparación.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OfrecerSolucion</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿El cliente quiere que le ofrezcamos una solución?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>QueHacemos</name>
        <label>QueHacemos</label>
        <locationX>1738</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisinB2C_O_SiniestroO_0</targetReference>
        </connector>
        <fields>
            <name>nombrecuenta5</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  &lt;B&gt;   {!var_NombreCuenta} {!Nombre} {!Apellidos}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;        &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!var_CIA}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Que_Hacemos</name>
            <choiceReferences>Transferir_llamada</choiceReferences>
            <choiceReferences>ofrecerasistencia</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿Qué hacemos?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Descripcion</name>
            <fieldText>Descripción</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>El comentario debe ser mayor que 14 caracteres.</errorMessage>
                <formulaExpression>LEN(Descripcion) &gt; 14</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Reparable</name>
        <label>Reparable</label>
        <locationX>116</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ClienteExiste</targetReference>
        </connector>
        <fields>
            <name>NombreCuenta</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;             {!var_NombreCuenta}  &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;         &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!var_CIA}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EsReparable</name>
            <choiceReferences>Si</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>¿Es reparable la solicitud del cliente?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Reparable</startElementReference>
    <variables>
        <name>Comentario_Motiv_Rechazo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ComentarioMotRechz</elementReference>
        </value>
    </variables>
    <variables>
        <name>Comentario_No_Reparable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ComentariosNoRepar</elementReference>
        </value>
    </variables>
    <variables>
        <name>ComentarioReparable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Descripcion</elementReference>
        </value>
    </variables>
    <variables>
        <name>IdCasoNoReparableConPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdCasoNoReparableSinPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdCasoUrgenteOfrecemosAsistenciaConPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdCasoUrgenteOfrecemosAsistenciaSini</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdCasoUrgenteOfrecemosAsistenciaSinPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdCasoUrgenteTransferimosConPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdCasoUrgenteTransferimosSini</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdCasoUrgenteTransferimosSinPoliza</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdCIAFlujo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCuentaFlujo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdDireccionCuentaFlujo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdPolizaFlujo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdRecordTypeSolB2C</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdSiniestroFlujo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Motivo_No_Reparable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>MotivoNo_Reparable</elementReference>
        </value>
    </variables>
    <variables>
        <name>Ofrecer_Solucion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>OfrecerSolucion</elementReference>
        </value>
    </variables>
    <variables>
        <name>PreguntaReparable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>EsReparable</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_CIA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_cp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NombreCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OfrecerAsistencia</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Que_Hacemos</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_poblacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_provincia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_via</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
