src/flows/JBSystemFlow_Work_Order_MKT_c-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_FireJBTrigger</name>
        <label>SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;OTR_MKT_LKP_Contacto__c&quot;,&quot;relationshipName&quot;:&quot;OTR_MKT_LKP_Contacto__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Work_Order_MKT__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj7b8964dc277b534c7f48ca4c93f760e7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100001945</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;OTR_MKT_LKP_Contacto__r&quot;,&quot;dePrefix&quot;:&quot;Work_Order_MKT__c:OTR_MKT_LKP_Contacto__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MobilePhone&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Work_Order_MKT__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Locale__c&quot;,&quot;Address__c&quot;,&quot;Account__c&quot;,&quot;CreatedDate&quot;,&quot;Estado_Cita__c&quot;,&quot;MobileNumber__c&quot;,&quot;ContactPhone__c&quot;,&quot;LastModifiedDate&quot;,&quot;OTR_FOR_Gremio__c&quot;,&quot;OTR_CAS_Urgente__c&quot;,&quot;Asignacion_Directa__c&quot;,&quot;MobileConnect_Status__c&quot;,&quot;ArrivalWindowEndTime__c&quot;,&quot;OTR_MKT_LKP_Contacto__c&quot;,&quot;RSE_TXT_Codigo_Recurso__c&quot;,&quot;ArrivalWindowStartTime__c&quot;,&quot;OTR_LKP_Tipo_Intervencion__c&quot;,&quot;OTR_TXT_Num_OrdenTrabajo_HS__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7</name>
        <label>JB_Decision_Null_Check_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.OTR_MKT_LKP_Contacto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_Decision</name>
        <label>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj7b8964dc277b534c7f48ca4c93f760e7</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.SMS_Enviado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj7b8964dc277b534c7f48ca4c93f760e7</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_State_change_Decision</name>
        <label>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.SMS_Enviado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Work_Order_MKT_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj7b8964dc277b534c7f48ca4c93f760e7</startElementReference>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_MKT__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_MKT__c</objectType>
    </variables>
</Flow>
